@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-normal.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/lato-normal-italic.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/lato-black.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/lato-black-italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/RobotoMono-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/RobotoMono-Bold.woff") format("woff");
}

@font-face {
  font-family: "Material Icon";
  src: url("../fonts/material-icon.woff?b2pn43") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
